*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  background-color: #222;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  margin-bottom: 20px;
  resize: none;
  font-size: 16px;
  color: #fff;
  background-color: #333;
}

input{
  width: 80%;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  margin-bottom: 20px;
  resize: none;
  font-size: 16px;
  color: #fff;
  background-color: #333;
}


textarea#result {
  height: 50%;
  box-shadow: 0px 0px 5px #0077cc;

}

input#inputQuestion {
  height: 18%;
}

textarea,input:focus {
  outline: none;
  border-color: #0077cc;
  box-shadow: 0px 0px 5px #0077cc;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: -10px;
  width: 10rem;
  box-shadow: 0px 0px 5px #0077cc;
}

button:hover {
  background-color: #3c3d3d;
}

button:active {
  background-color: #333;
  box-shadow: none;
}

